<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>CargarCartelera</servlet-name>
        <servlet-class>Controlador.CargarCartelera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarInformacionPelicula</servlet-name>
        <servlet-class>Controlador.CargarInformacionPelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarComentario</servlet-name>
        <servlet-class>Controlador.InsertarComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistro</servlet-name>
        <servlet-class>Controlador.ServletRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInicioSesion</servlet-name>
        <servlet-class>Controlador.ServletInicioSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CargarCartelera</servlet-name>
        <url-pattern>/CargarCartelera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarInformacionPelicula</servlet-name>
        <url-pattern>/CargarInformacionPelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarComentario</servlet-name>
        <url-pattern>/InsertarComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistro</servlet-name>
        <url-pattern>/ServletRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInicioSesion</servlet-name>
        <url-pattern>/ServletInicioSesion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
