:root {
    --rojo: #2e2e2e;
    --fondo1: #12122b;
    --fondo2: #383845;
    --fondo3: #5e5e5e;
    --fondo4: #848478;
    --fondo5: #aaaa91;
    --letra: #64748b;
}

html{
    height: 100%;
    background-color: var(--fondo1);
    color: var(--letra);
}

h1{
    color: var(--letra);
}

header{
    font-size: 50px;
    margin: 10px;
    color: #64748b;
}

ul li{
    display: inline-block;
}

p{
    color: var(--letra)
}

.contenedor_cabecera{
    background-color: var(--fondo2);
    padding: 10px;
    border-radius: 10px;
}

.option{
    display: inline-block;
    background-color: var(--fondo5);
    color: var(--letra);
    font-weight: 400;
    text-transform: uppercase;
    width: 180px;
    height: 30px;
    text-align: center;
    padding-bottom: 15px;
    text-decoration: none;
    border-radius: 10px;
}

.option2{
    display: inline-block;
    background-color: var(--fondo5);
    color: var(--letra);
    font-weight: 200;
    text-transform: uppercase;
    width: 200px;
    height: 30px;
    text-align: center;
    padding-bottom: 15px;
    text-decoration: none;
    border-radius: 10px;
}

.contenedor_cuerpo1{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.contenedor_cuerpo2{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--fondo2);
    color: var(--letra);
}

.contenedor_pantalla{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    margin: 20px 0 0;
}

.contenedor{
    overflow: hidden;
}

.cartelera{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px;
    background-color: var(--fondo3);
    border-radius: 10px;
}

.informacionPelicula{
    margin-left: 24%;
    margin-right: 24%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: var(--fondo2);
}

.titulo1{
    font-size: 50px;
    text-align: center;
    color: var(--letra);
}

.titulo2{
    font-size: 20px;
    text-align: center;
    color: var(--letra);
}

.titulo3{
    font-size: 20px;
    border: 2px;
    color: var(--letra);
}

.contenedor_espacio{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.contenedorH{
    float: left;
    margin: 10px;
}

.contenedorV{
    margin: 10px;
}

.contenedor_hora{
    position: relative;
    width: 100px;
    height: 50px;
    background-color: #2e2e2e;
    color: rgb(204, 0, 0);
    font-weight: 700;
    text-transform: uppercase;
    border-width: 5px;
    border-style: solid;
    border-color: darkred;
    margin: 10px;
}

.contenedorimagen{
    width: 200px;
    height: 450px;
}

.informacion{
    width: 425px;
    height: auto;
}

.pelicula{
    position: relative;
    margin: 10px;
}

img{
    width: 100%;
    height: auto;
}

.imagen{
    width: 100%;
    height: auto;
}

.contenido{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #2e2e2e;
    border-width: 4px;
    border-style: solid;
    border-color: darkred;
}

.elementos{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.pelicula:hover .contenido{
    opacity: 1;
}

.peliculabutton{
    font-size: 20px;
    cursor: pointer;
    background-color: #2e2e2e;
    color: rgb(204, 0, 0);
    border-width: 4px;
    border-style: solid;
    border-color: darkred;
}

.horariobutton{
    width: 100px;
    height: 50px;
    cursor: pointer;
    background-color: #2e2e2e;
    color: rgb(204, 0, 0);
    font-size: 10px;
    text-transform: uppercase;
    border-width: 0.5px;
    border-style: solid;
    border-color: darkred;
}

.formulariobutton{
    background-color: var(--fondo3);
    color: #64748b;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.reservabutton{
    font-size: 20px;
    cursor: pointer;
    background-color: #2e2e2e;
    color: rgb(204, 0, 0);
    border-width: 4px;
    border-style: solid;
    border-color: darkred;
}

.confirmarReserva{
    font-size: 20px;
    cursor: pointer;
    background-color: #2e2e2e;
    color: rgb(204, 0, 0);
    border-width: 4px;
    border-style: solid;
    border-color: darkred;
}

.comentario_pelicula{
    margin-bottom: 50px;
}

.contenedor_formulario1{
    background-color: var(--fondo2);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    max-width: 100%;
    text-align: center;
    padding: 20px;
}

.contenedor_formulario2{
    background-color: var(--fondo2);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 600px;
    max-width: 100%;
    text-align: center;
    padding: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    background-color: var(--fondo3);
    color: #64748b;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--fondo5);
}

#pantalla {
    width: 20%;
    height: 20px;
    margin-bottom: 20px;
    background-color: var(--fondo5);
    text-align: center;
}

.fila {
    display: flex;
    margin-bottom: 10px;
}

.asiento {
    width: 20px;
    height: 20px;
    background-color: #00ff00;
    margin-right: 5px;
    cursor: pointer;
}
.asiento.reservado {
    background-color: #0000ff;
}
.asientonodisponible{
    width: 20px;
    height: 20px;
    background-color: #00ff00;
    margin-right: 5px;
    background-color: #ff0000;
}
